services:
  postgres:
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=admin
      - POSTGRES_USER=admin
      - POSTGRES_DB=rezerwacjelotnicze
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U admin -d rezerwacjelotnicze" ]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    image: ghcr.io/wsb-projects/rezerwacje-lotnicze:main
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      postgres:
        condition: service_healthy

  frontend:
    image: ghcr.io/wsb-projects/rezerwacje-lotnicze-frontend:main